body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #504b66;
}
a:hover {
  text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
  padding: 0px !important;
}
.logOut ul {
  text-align: right;
  list-style: none;
}
.logOut ul li {
  text-align: right;
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  top: 11px;
}
.logOut ul li a {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.logOut ul li a .mdi {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.yellow-point {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #f89c4a;
  display: block;
  position: absolute;
  top: -2px;
  right: 0px;
}
.page-title {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #504b66;
}
.font15 {
  font-size: 15px;
  font-weight: 400 !important;
  color: #070707;
  margin-bottom: 40px;
}
.total-no {
  font-size: 22px;
  color: #3a3a3a;
}
.green-box-wrp {}
.green-box-header, .gray-box-header {
  background-color: #e2f0ea;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 47px;
  padding: 0px 15px;
}
.gray-box-header {
  background-color: #e2e9f0;
}
.green-box-header .card-title, .gray-box-header .card-title {
  font-size: 18px;
  font-weight: bold;
  color: #504b66;
  margin-top: 12px;
}
.green-box-header small {
  margin-top: 15px;
  display: block;
}
.green-box-header small a {
  font-size: 10px;
  color: #504b66;
  margin-top: 12px;
}
.green-box-body {
  background: #ffffff;
  border: solid 1px #e2e9f0;
}
.request {
  padding: 15px;
}
.driver-details {
  margin-bottom: 15px;
}
.driver-pic {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  float: left;
}
.driver-wrp {
  border-bottom: solid 1px #e2e9f0;
  float: right;
  width: 175px;
}
.driver-Name {
  font-size: 12px;
  font-weight: 500;
  color: #0d87d5;
}
.driver-Number {
  font-size: 10px;
  color: #504b66;
  font-weight: normal;
}
.pad15px {
  padding: 15px;
}
.cyan-bg, .red-bg, .green-bg, .blue-bg, .orange-bg {
  width: 54px;
  height: 27px;
  border-radius: 3px;
  background-color: #00e0c4;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 27px;
  text-align: center;
}
.red-bg {
  width: 54px;
  height: 27px;
  background-color: #e04500;
}
.green-bg {
  width: 64px;
  height: 27px;
  background-color: #41b759;
}
.blue-bg {
  width: 54px;
  height: 27px;
  background-color: #00e0c4;
}
.orange-bg {
  width: 64px;
  height: 27px;
  background-color: #e0b300;
}
.view-all-link a {
  font-size: 16px;
  font-weight: bold;
  color: #0d87d5;
  margin-top: 15px;
  display: block;
}
.gray-round-pic {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  background-color: #ababab;
}
.pay-now-btn {
  width: 121px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #0d87d5;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  color: #0d87d5;
}
.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mdi-chevron-down {
  float: right;
}
.compose-mail-btn, .coupon-btn {
  width: 130px;
  height: 44px;
  font-size: 16px;
  font-weight: 600 !important;
  border-radius: 5px;
  background-color: #0d87d5;
  border: none;
  color: #ffffff;
}
.coupon-btn {
  width: 160px;
}
.page-no {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  color: #504b66;
  margin-right: 20px;
  position: relative;
  top: 0px;
}
.page-no-normal {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  color: #504b66;
  margin-right: 20px;
  position: relative;
  top: 4px;
}
.Qcount {
  font-size: 16px;
  font-weight: bold;
  color: #504b66;
}
.add-question {
  font-size: 15px;
  font-weight: bold;
  color: #0d87d5;
}
.fare-title {
  font-size: 27px;
  font-weight: bold;
  margin-right: 20px;
}
.fare-amount {
  font-size: 26px;
  font-weight: 600;
  margin-right: 20px;
  color: #504b66;
}
.rute-map-title {
  font-size: 16px;
  font-weight: bold;
  color: #504b66;
}
.rute-map-label {
  font-size: 17px;
  font-weight: 600;
  color: #504b66;
}
.pay-now-btn {
  width: 121px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #0d87d5;
  background-color: #ffffff;
  font-weight: 600;
}
.driverdetls {}
.driver-pro-pic {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
.d-d-box {}
.d-d-box h1 {
  font-size: 33px;
  font-weight: 500;
  color: #504b66;
  margin-top: 20px !important;
}
.d-d-box h3 {
  font-size: 14px;
  font-weight: normal;
  color: #504b66;
}
.d-d-box .rating {
  position: relative;
  top: 5px;
  left: -6px;
}
.box-title {
  font-weight: normal;
  margin-left: 18px;
}
.info-box {
  margin-bottom: 20px;
}
.info-title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-stretch: normal;
  color: #504b66;
  margin-bottom: 10px;
}
.info-description {
  font-size: 14px;
  font-weight: normal;
  color: #504b66;
}
.filter-select {
  width: 100px;
  padding: 10px !important;
  font-size: 12px;
  margin-left: 20px;
}
.SAR {
  font-size: 18px;
  font-weight: 600;
  color: #504b66;
}
.driving-license-front {
  width: 100%;
  height: 119px;
  object-fit: contain;
  background-color: #e6e5e5;
  margin-top: 20px;
}
.invoice-box {
  text-align: center;
  margin-bottom: 20px;
}
.invoice-box .pdf {}
.invoice-box h1 {
  font-size: 20px;
  font-weight: 500;
}
.invoice-box h3 {
  font-size: 18px;
  font-weight: normal;
  color: #504b66;
}
.invoice-box .page-no {
  font-weight: normal !important;
}
.review-box {
  border-bottom: #e2e9f0 solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.review-pic {
  width: 42px;
  height: 42px;
  border: solid 1px #707070;
  background-color: #ffffff;
  border-radius: 50%;
  float: left;
}
.review-name {
  float: left;
  padding: 0px 10px;
  margin-top: 6px;
}
.review-name h1 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  color: #504b66;
}
.review-name h3 {
  font-size: 12px;
  font-weight: normal;
  color: #504b66;
}
.review-star {
  float: right;
}
.mdi-grease-pencil, .mdi-delete {
  width: 30px;
  height: 30px;
  color: #ffffff;
    padding: 10px 10px 10px 10px;
font-size: 14px;
  border-radius: 50%;
    margin-left: 10px;
  background-color: #878787;
}
.mdi-delete {
  background-color: #0d87d5;
}