
/* style.main.css  */

/* line: 65 */
.font15 {
  font-size: 15px;
  font-weight: 400 !important;
  color: #070707;
  margin-bottom: 35px!important;
}

/* line:18 */
.page-header {
  margin: 10px 0 20px!important;
  border-bottom: 0!important;
}